@model BlogHost.Domain.Entities.Post

@{
    ViewBag.Title = Model.Title;
}

<div class="item">
    <h3>@Model.Title</h3>
    Description: @Model.Description
    <h4>Category: @Model.Category.Name</h4>
    Tags:
    @foreach (var t in Model.Tags)
    {
        @t.Name @:;
    }
    <br />
    <p>
        @Model.Text
    </p>
    <br/>
    <H4>Comments</H4>
    @foreach (var c in Model.Comments.OrderBy(c => c.Date))
    {
        Html.RenderPartial("_CommentPartial", c);
    }
    @Html.ActionLink("Add comment", "Add", new { controller = "Comment", postid = Model.ID })
</div>

